<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", async function() {
        var SessionToken = window["app-bridge"].actions.SessionToken
        var app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.Action.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });

        var fetchProducts = function() {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch("/products", { headers })
            .then(response => response.json())
            .then(data => {
              var products = data.products;

              if (products === undefined || products.length == 0) {
                document.getElementById("products").innerHTML = "<br>No products to display.";
              } else {
                var list = "";
                products.forEach((product) => {
                  var link = `<a target="_top" href="https://<%= @shop_origin %>/admin/products/${product.id}">`
                  list += "<li>" + link + product.title + "</a></li>";
                });
                document.getElementById("products").innerHTML = "<ul>" + list + "</ul>";
              }
            });
        }();
      });
    </script>
    <script>
      const labels = ['Not Premium','Premium'];
      const data = {
        labels: labels,
        datasets: [{
          label: 'Premium Products',
          data: [<%= @not_premium_count %>, <%= @premium_count %>],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
          ],
          borderWidth: 1
        }]
      };     
      const config = {
        type: 'bar',
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
      };
      window.onload = (event) => {
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
      };
    </script>
  </head>
  <body>
    <h2>Products</h2>
    <div id="products"><br>Loading...</div>

    <%= form_tag home_new_premium_path do %>
      Change the premium threshold. Newly created products that have a price higher than this value will be given the <%= ProductsCreateJob::PREMIUM_PRODUCT_TAG %> tag.
      <input type="hidden" id="shop" name="shop" value="<%=@shop_origin%>">
      <input type="number" id="premium" name="premium" placeholder="New Premium" value="<%= @current_premium %>">
      <input type="submit" value="Submit">
    <% end %>

    <canvas id="myChart" width="200" height="200"></canvas>
  </body>
</html>
